.p5-canvas {
    position: fixed;
    visibility: visible !important;
}

/* .rpd-node.rpd-jb-preview .fullscreen-trigger {
    position: absolute;
    right: 17px;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
} */
