/* .rpd-node.rpd-jb-preview .fullscreen-trigger {
    position: absolute;
    right: 17px;
    pointer-events: all;
    cursor: pointer;
    z-index: 10;
} */

.rpd-inlet.rpd-util-number foreignobject, .rpd-outlet.rpd-util-number foreignobject {
    transform: translate(-43px,1px);
}
